<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Javatar</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/homepage-styles.css" rel="stylesheet"type="text/css" >

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          ΜΕΝΟΥ
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="profile">ΣΥΝΔΕΣΟΥ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="signup">ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#categories">ΚΑΤΗΓΟΡΙΕΣ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Η ΙΣΤΟΡΙΑ ΜΑΣ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Η ΟΜΑΔΑ ΜΑΣ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">ΕΠΙΚΟΙΝΩΝΗΣΕ ΜΑΖΙ ΜΑΣ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Καλώς ήρθες στη σελίδα μας!</div>
          <div class="intro-heading text-uppercase">ΒΡΕΣ ΧΙΛΙΑΔΕΣ ΠΡΟΙΟΝΤΑ</div>
          <form action="/product/list" method="get">
            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-1 lime-border" type="text" name="keyWord" placeholder="Αναζήτησε προϊόντα..." aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text lime lighten-2" id="mySpan" onclick="Search()"><i class="fa fa-search text-grey" aria-hidden="true"></i></span>
              </div>
            </div>
          </form>

        </div>
      </div>
    </header>


    <!-- Categories Grid -->
    <section class="bg-light" id="categories">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ΚΑΤΗΓΟΡΙΕΣ</h2>
            <h3 class="section-subheading text-muted">Κατεύθυνε την αναζήτησή σου με βάσει τις ακόλουθες κατηγορίες.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link"  href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/technology.png" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Τεχνολογία</h4>
              <p class="text-muted">Κινητά Τηλέφωνα </br> Τηλεοράσεις </br> Laptops</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link" href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/fashion.jpg" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Μόδα</h4>
              <p class="text-muted">Ρούχα </br> Ρολόγια </br> Παπούτσια </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link" href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/cosmetics.png" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Καλλυντικά</h4>
              <p class="text-muted">Makeup </br> Mascara </br> Lip Gloss </br></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link" href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/sports.jpg" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Αθλητισμός</h4>
              <p class="text-muted">Αθλητικά ρούχα </br> Αθλητικά Παπούτσια </br> Αθλητικά είδη </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link" href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/automotive.jpg" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Auto-Moto</h4>
              <p class="text-muted"> Λάστιχα <br/> Ηχοσυστήματα </br> Κράνη μηχανής </br></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 categories-item">
            <a class="categories-link" href="/product/list">
              <div class="categories-hover">
                <!--<div class="categories-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>-->
              </div>
              <img class="img-fluid" src="img/categories/home.png" alt="" >
            </a>
            <div class="categories-caption">
              <h4>Σπίτι</h4>
              <p class="text-muted">Έπιπλα </br> Φωτιστικά </br> Ηλεκτρικές συσκευές </br> </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ΣΧΕΤΙΚΑ ΜΕ ΤΗΝ ΣΕΛΙΔΑ ΜΑΣ</h2>
            <h3 class="section-subheading text-muted">Το χρονικό πλαίσιο σύλληψης, υλοποίησης και εξέλιξης του οράματός μας, σχετικά με τη δημιουργία ενός δικτυακού παρατηρητήριου τιμών που βασίζεται στη μέθοδο του crowdsourcing  .</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015-2016</h4>
                    <h4 class="subheading">Η Σύλληψη</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Η συγκρότηση της ομάδας μας, και οι πρώτες συζητήσεις σχετικά με την υλοποίηση ενός online παρατηρητηρίου τιμών</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4> Οκτώβρης 2018</h4>
                    <h4 class="subheading">Τα Πρώτα Βήματα</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Στα πλαίσια ενός σχολικού μαθήματος, ξεκινήσαμε την ανάπτυξη και την υλοποίηση της σελίδας μας</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Μάρτιος 2019</h4>
                    <h4 class="subheading">Εκκίνηση της Λειτουργίας της Σελίδας</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Μετά από πολλούς μήνες ανάπτυξης και σχεδίασης, η δικτυακή μας πλατφόρμα ξεκινάει τη λειτουργία της και είναι έτοιμη να φιλοξενήσει χιλιάδες νέους χρήστες που να εξυπηρετήσει ακόμα περισσότερους επισκέπτες που αναζητούν οικονομικά και πλούσιου εύρους προϊόντα</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Νοέμβριος 2019</h4>
                    <h4 class="subheading">Επέκταση της Σελίδας</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Μετά από την μεγάλη επιτυχία που σημείωσε η σελίδα και η ανταπόκριση από τους χρήστες στους πρώτους μήνες της λειτουργίας της, υπάρχουν οι προϋποθέσεις επέκτασης και επαναπροσδιορισμού των υπηρεσιών που προσφέρονται, καθώς και των λειτουργικών αρχών που μας ορίζουν</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Γίνε Τμήμα
                    <br>Της Ιστορίας
                    <br>Μας!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Η ΟΜΑΔΑ ΜΑΣ</h2>
            <h3 class="section-subheading text-muted">Η βασική ομάδα σύλληψης, ανάπτυξης και συντήρησης της σελίδας.</h3>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Marketer</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
              <h4>Diana Pertersen</h4>
              <p class="text-muted">Lead Developer</p>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
              <h4>Kay Garland</h4>
              <p class="text-muted">Lead Designer</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Marketer</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
              <h4>Diana Pertersen</h4>
              <p class="text-muted">Lead Developer</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Η ανάπτυξη της ιστοσελίδας καθώς και η συντήρησή της πραγματοποιείται εθελοντικά και μη κερδοσκοπικά, με σκοπό την κοινωική προσφορά.</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ΕΠΙΚΟΙΝΩΝΗΣΕ ΜΑΖΙ ΜΑΣ</h2>
            <h3 class="section-subheading text-muted">Συνέβαλε ενεργητικά στη εξέλιξη της σελίδας μεταφέροντας την άποψή σου σχετικά με την προσφορά της σελίδας.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" place="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="place" type="text" placeholder="Το Όνομά σας *" required="required" data-validation-required-message="Παρακαλώ πρόσθεστε το όνομά σας.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Το Email σας *" required="required" data-validation-required-message="Παρακαλώ πρόσθεστε το email σας.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Το Τηλέφωνό σας *" required="required" data-validation-required-message="Παρακαλώ προσθέστε το τηλέφωνό σας.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Το Μήνυμά σας *" required="required" data-validation-required-message="Παρακαλώ προσθέστε το μήνυμά σας."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">ΑΠΟΣΤΟΛΗ ΜΗΝΥΜΑΤΟΣ</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <span class="copyright">Copyright &copy; Our Website 2018</span>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="js/homepage.js"></script>

  </body>

</html>
